<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
	<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="css/header.css">
	<link rel="stylesheet" href="css/footer.css">
	<link rel="stylesheet" href="css/estilo.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous"></head>
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  	<title th:text="${titulo}"></title>
</head>
<body>
<section th:replace="fragments/header :: header"></section>
	<section>
		<div class="container pt-5 pb-5">
		<h1 class="card bg-success text-white text-center mb-3 titulo_inputs" th:text="${titulo}"></h1>
		
		<div class="card mb-3" style="width: 100%">
			<img th:src="@{images/sillones.jpg}">
		</div>
		
		<div class="card bg-light">
			<div class="card-body">
				<form th:action="@{/form}" th:object="${consulta}" method="post">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Nombre" th:field="*{nombre}">
						<small class="text-danger font-weight-bold" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Correo electrónico" th:field="*{correo}">
						<small class="text-danger font-weight-bold" th:if="${#fields.hasErrors('correo')}" th:errors="*{correo}"></small>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" th:field="*{asunto}" placeholder="Asunto">
						<small class="text-danger font-weight-bold" th:if="${#fields.hasErrors('asunto')}" th:errors="*{asunto}"></small>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" th:field="*{telefono}" placeholder="Teléfono">
						<small class="text-danger font-weight-bold" th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}"></small>
					</div>
					<div class="form-group">
						<textarea class="form-control" style="max-height: 100px; min-height: 200px;" placeholder="Mensaje" th:field="*{mensaje}"></textarea>
						<small class="text-danger font-weight-bold" th:if="${#fields.hasErrors('mensaje')}" th:errors="*{mensaje}"></small>
					</div>
					<input type="hidden" th:field="*{id}"> 
					<button type="submit" class="btn btn-success">Enviar</button>
				</form>
			</div>
		</div>
	</div>
	</section>
	<section th:replace="fragments/footer :: footer"></section>
</body>
</html>