<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link rel="stylesheet" href="css/estilos.css">
</head>
<body>
	<section th:fragment="redes">
	<div class="row">
		<div class="col-md-6">
			<strong>INTRODUCCIÓN</strong><br>
			<p>"Que la mayoria de personas, por la pandemia o una series de factores, necesita una vida más sana, un entorno más sana, un entorno más sano. Esto se logra con una buena alimentacion y ejercicio fisico, pero, tambien, necesitamos un mejor equilibrio emocional. Necesitamos alejarnos de todo el estres, de todo el ruido. Asi que un spa va de acorde con lo que quiero lograr. Quiero que nuestros clientes se sientan y se vean bien".</p>		
		</div>
		<div class="col-md-6 text-right">
			<strong>SÍGUENOS EN REDES SOCIALES</strong><br>
			<a href="#" class="btn"><i class='fab fa-facebook' style='font-size:36px'></i></a>
			<a href="#" class="btn"><i class='fab fa-whatsapp' style='font-size:36px'></i></a>
		   	<a href="#" class="btn"><i class='fab fa-instagram' style='font-size:36px'></i></a><br>
		   	<strong>DIRECCIÓN</strong>
		   	<p>249 Jr. Padre Aguerrizabal<br>Pucallpa, Ucayali</p>
		</div>
	</div>

	</section>
</body>
</html>