<!DOCTYPE html>	
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  	<link rel="stylesheet" href="css/estilo.css">
    <title th:text="${titulo}"></title>
</head>

<body>
	<!---------------------------------------------------------------------->
	<section th:replace="fragments/header :: header"></section>
	<!---------------------------------------------------------------------->
	<section>
		<div class="container pt-5 pb-5">
        <div id="demo" class="carousel slide" data-ride="carousel">

            <!-- Indicators -->
            <ul class="carousel-indicators">
              <li data-target="#demo" data-slide-to="0" class="active"></li>
              <li data-target="#demo" data-slide-to="1"></li>
              <li data-target="#demo" data-slide-to="2"></li>
            </ul>
          
            <!-- The slideshow -->
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="images/aromaterapia.jpg" class="img-fluid" alt="1000">
                 	<div class="carousel-caption bg-success">
    				<h3>Aromaterapia</h3>
    				<p>Mejora el bienestar psicológico o físico con el uso de materiales aromáticos, como los aceites esenciales.</p>
  					</div>
              </div>
              <div class="carousel-item">
                <img src="images/maderoterapia.jpg"  class="img-fluid" alt="1000">
                	<div class="carousel-caption bg-success">
    				<h3>Maderoterapia</h3>
    				<p>Los utensilios de madera ayudan a reafirmar y moldear la figura al mismo tiempo que te relajas.</p>
  					</div>
              </div>
              <div class="carousel-item">
                <img src="images/cromoterapia.jpg"  class="img-fluid" alt="1000">
                	<div class="carousel-caption bg-success">
    				<h3>Cromoterapia</h3>
    				<p>Utiliza la visualización de los colores en que se divide el espectro de la luz solar,  para influir en la mejora del estado anímico y de bienestar del paciente.</p>
  					</div>
              </div>
            </div>
          
            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
              <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
              <span class="carousel-control-next-icon"></span>
            </a>
          </div>
    </div>
	</section>
	<section>
		<div class="container pb-5">
			<div class="row pb-5">
				<div class="col-md">
					<div class="card">
  					<img class="card-img-top" src="images/terapia_piedras.jpg" alt="Card image">
  					<div class="card-body">
    				<h4 class="card-title">Terapia con piedras</h4>
    				<p class="card-text">Combina el masaje terapéutico tradicional con la aplicación sobre la piel de piedras a distintas temperaturas, para facilitar que fluya la energía vital y aliviar así trastornos físicos y emocionales.</p>
    				<a href="#" class="btn btn-success stretched-link">Ver más</a>
  					</div>
					</div>
				</div>
				<div class="col-md">
					<div class="card">
  					<img class="card-img-top" src="images/terapia_piedras.jpg" alt="Card image">
  					<div class="card-body">
    				<h4 class="card-title">Terapia con piedras</h4>
    				<p class="card-text">Combina el masaje terapéutico tradicional con la aplicación sobre la piel de piedras a distintas temperaturas, para facilitar que fluya la energía vital y aliviar así trastornos físicos y emocionales.</p>
    				<a href="#" class="btn btn-success stretched-link">Ver más</a>
  					</div>
					</div>
				</div>
				<div class="col-md">
					<div class="card">
  					<img class="card-img-top" src="images/terapia_piedras.jpg" alt="Card image">
  					<div class="card-body">
    				<h4 class="card-title">Terapia con piedras</h4>
    				<p class="card-text">Combina el masaje terapéutico tradicional con la aplicación sobre la piel de piedras a distintas temperaturas, para facilitar que fluya la energía vital y aliviar así trastornos físicos y emocionales.</p>
    				<a href="#" class="btn btn-success stretched-link">Ver más</a>
  					</div>
					</div>
				</div>
				<div class="col-md">
					<div class="card">
  					<img class="card-img-top" src="images/terapia_piedras.jpg" alt="Card image">
  					<div class="card-body">
    				<h4 class="card-title">Terapia con piedras</h4>
    				<p class="card-text">Combina el masaje terapéutico tradicional con la aplicación sobre la piel de piedras a distintas temperaturas, para facilitar que fluya la energía vital y aliviar así trastornos físicos y emocionales.</p>
    				<a href="#" class="btn btn-success stretched-link">Ver más</a>
  					</div>
					</div>
				</div>
			</div>
			<div class="row pb-5">
				<div class="col-md">
					<div class="card">
  					<img class="card-img-top" src="images/terapia_piedras.jpg" alt="Card image">
  					<div class="card-body">
    				<h4 class="card-title">Terapia con piedras</h4>
    				<p class="card-text">Combina el masaje terapéutico tradicional con la aplicación sobre la piel de piedras a distintas temperaturas, para facilitar que fluya la energía vital y aliviar así trastornos físicos y emocionales.</p>
    				<a href="#" class="btn btn-success stretched-link">Ver más</a>
  					</div>
					</div>
				</div>
				<div class="col-md">
					<div class="card">
  					<img class="card-img-top" src="images/terapia_piedras.jpg" alt="Card image">
  					<div class="card-body">
    				<h4 class="card-title">Terapia con piedras</h4>
    				<p class="card-text">Combina el masaje terapéutico tradicional con la aplicación sobre la piel de piedras a distintas temperaturas, para facilitar que fluya la energía vital y aliviar así trastornos físicos y emocionales.</p>
    				<a href="#" class="btn btn-success stretched-link">Ver más</a>
  					</div>
					</div>
				</div>
				<div class="col-md">
					<div class="card">
  					<img class="card-img-top" src="images/terapia_piedras.jpg" alt="Card image">
  					<div class="card-body">
    				<h4 class="card-title">Terapia con piedras</h4>
    				<p class="card-text">Combina el masaje terapéutico tradicional con la aplicación sobre la piel de piedras a distintas temperaturas, para facilitar que fluya la energía vital y aliviar así trastornos físicos y emocionales.</p>
    				<a href="#" class="btn btn-success stretched-link">Ver más</a>
  					</div>
					</div>
				</div>
				<div class="col-md">
					<div class="card">
  					<img class="card-img-top" src="images/terapia_piedras.jpg" alt="Card image">
  					<div class="card-body">
    				<h4 class="card-title">Terapia con piedras</h4>
    				<p class="card-text">Combina el masaje terapéutico tradicional con la aplicación sobre la piel de piedras a distintas temperaturas, para facilitar que fluya la energía vital y aliviar así trastornos físicos y emocionales.</p>
    				<a href="#" class="btn btn-success stretched-link">Ver más</a>
  					</div>
					</div>
				</div>
			</div>
			<div class="row pb-5">
				<div class="col-md">
					<div class="card">
  					<img class="card-img-top" src="images/terapia_piedras.jpg" alt="Card image">
  					<div class="card-body">
    				<h4 class="card-title">Terapia con piedras</h4>
    				<p class="card-text">Combina el masaje terapéutico tradicional con la aplicación sobre la piel de piedras a distintas temperaturas, para facilitar que fluya la energía vital y aliviar así trastornos físicos y emocionales.</p>
    				<a href="#" class="btn btn-success stretched-link">Ver más</a>
  					</div>
					</div>
				</div>
				<div class="col-md">
					<div class="card">
  					<img class="card-img-top" src="images/terapia_piedras.jpg" alt="Card image">
  					<div class="card-body">
    				<h4 class="card-title">Terapia con piedras</h4>
    				<p class="card-text">Combina el masaje terapéutico tradicional con la aplicación sobre la piel de piedras a distintas temperaturas, para facilitar que fluya la energía vital y aliviar así trastornos físicos y emocionales.</p>
    				<a href="#" class="btn btn-success stretched-link">Ver más</a>
  					</div>
					</div>
				</div>
				<div class="col-md">
					<div class="card">
  					<img class="card-img-top" src="images/terapia_piedras.jpg" alt="Card image">
  					<div class="card-body">
    				<h4 class="card-title">Terapia con piedras</h4>
    				<p class="card-text">Combina el masaje terapéutico tradicional con la aplicación sobre la piel de piedras a distintas temperaturas, para facilitar que fluya la energía vital y aliviar así trastornos físicos y emocionales.</p>
    				<a href="#" class="btn btn-success stretched-link">Ver más</a>
  					</div>
					</div>
				</div>
				<div class="col-md">
					<div class="card">
  					<img class="card-img-top" src="images/terapia_piedras.jpg" alt="Card image">
  					<div class="card-body">
    				<h4 class="card-title">Terapia con piedras</h4>
    				<p class="card-text">Combina el masaje terapéutico tradicional con la aplicación sobre la piel de piedras a distintas temperaturas, para facilitar que fluya la energía vital y aliviar así trastornos físicos y emocionales.</p>
    				<a href="#" class="btn btn-success stretched-link">Ver más</a>
  					</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md">
					<div class="card">
  					<img class="card-img-top" src="images/terapia_piedras.jpg" alt="Card image">
  					<div class="card-body">
    				<h4 class="card-title">Terapia con piedras</h4>
    				<p class="card-text">Combina el masaje terapéutico tradicional con la aplicación sobre la piel de piedras a distintas temperaturas, para facilitar que fluya la energía vital y aliviar así trastornos físicos y emocionales.</p>
    				<a href="#" class="btn btn-success stretched-link">Ver más</a>
  					</div>
					</div>
				</div>
				<div class="col-md">
					<div class="card">
  					<img class="card-img-top" src="images/terapia_piedras.jpg" alt="Card image">
  					<div class="card-body">
    				<h4 class="card-title">Terapia con piedras</h4>
    				<p class="card-text">Combina el masaje terapéutico tradicional con la aplicación sobre la piel de piedras a distintas temperaturas, para facilitar que fluya la energía vital y aliviar así trastornos físicos y emocionales.</p>
    				<a href="#" class="btn btn-success stretched-link">Ver más</a>
  					</div>
					</div>
				</div>
				<div class="col-md">
					<div class="card">
  					<img class="card-img-top" src="images/terapia_piedras.jpg" alt="Card image">
  					<div class="card-body">
    				<h4 class="card-title">Terapia con piedras</h4>
    				<p class="card-text">Combina el masaje terapéutico tradicional con la aplicación sobre la piel de piedras a distintas temperaturas, para facilitar que fluya la energía vital y aliviar así trastornos físicos y emocionales.</p>
    				<a href="#" class="btn btn-success stretched-link">Ver más</a>
  					</div>
					</div>
				</div>
				<div class="col-md">
					<div class="card">
  					<img class="card-img-top" src="images/terapia_piedras.jpg" alt="Card image">
  					<div class="card-body">
    				<h4 class="card-title">Terapia con piedras</h4>
    				<p class="card-text">Combina el masaje terapéutico tradicional con la aplicación sobre la piel de piedras a distintas temperaturas, para facilitar que fluya la energía vital y aliviar así trastornos físicos y emocionales.</p>
    				<a href="#" class="btn btn-success stretched-link">Ver más</a>
  					</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!---------------------------------------------------------------------->
	<section th:replace="fragments/footer :: footer"></section>
	<!---------------------------------------------------------------------->
</body>
</html>