<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/estilo.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <title>SM Spa: Esencia y Belleza</title>
</head>

<body>
<section th:fragment="intro">
	<div class="container-fluid bg_verde">
        <div class="container espaciado_principal">
            <div class="row">
                <div class="col-md">
                    <h3 class="subtitulo_informacion">Introducción</h3>
                </div>
                <div class="col-md">
                    <p>
                        <strong>Dueña: </strong>Sandra Muñoz. <br>
                        <strong>Rubro: </strong>Salud, belleza y bienestar. <br>
                        <br>
                        El spa fue ideado por la dueña Sandra Muñoz como complemento de su gimnasio X-TREME GYM. En
                        palabras de ella: "que la gran mayoría de personas, por la pandemia o una series de factores,
                        necesita una vida más sana, un entono más sano. Esto se logra con una buena alimentación y
                        ejercicio físico, pero, también, necesitamos un mejor equilibrio emocional. Necesitamos
                        alejarnos de todo el estrés, de todo el ruido. Así que un spa va de acorde con lo que quiero
                        lograr. Quiero que nuestros clientes se sientan y se vean bien".
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
</body>

</html>