.Compartir {
    padding-top: 50px;
    padding-bottom: 50px;
}

.Compartir .mb {
    margin-bottom: 30px;
}

.Compartir p {
    width: 70%;
    margin-bottom: 0px;
}

.Compartir button {
    width: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
}

.Compartir button:hover {
    color: white;
    opacity: 0.8;
}

.Compartir .facebook {
    background-color: #3b5998;
}

.Compartir .whatsapp {
    background-color: #25d366;
}

.Compartir .instagram {
    background-color: #f56040;
}