.Ubicacion {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Ubicacion img {
    margin-bottom: 27px;
}

.Ubicacion iframe {
    max-width: 100%;
}

@media screen and (max-width: 767px) {
  
    .Ubicacion iframe {
        height: 500px;
    }

}

@media screen and (max-width: 429px) {
  
    .Ubicacion iframe {
        height: 400px;
    }

}