<!DOCTYPE html>	
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/ubicacion.css">
    <link rel="stylesheet" href="css/compartirPorRedesSociales.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/carrusel.css">
    <link rel="stylesheet" href="css/personal.css">
    <link rel="stylesheet" href="css/form.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  	<link rel="stylesheet" href="css/estilo.css">
    <title th:text="${titulo}"></title>
</head>

<body>
	<!---------------------------------------------------------------------->
	<section th:replace="fragments/header :: header"></section>
	<section th:replace="fragments/carousel :: carousel"></section>
	<!---------------------------------------------------------------------->
	<section th:replace="fragments/ubicacion :: ubicacion"></section>
	<section th:replace="fragments/personal :: personal"></section>
	<section th:replace="fragments/formularios :: enlace_forms"></section>
	<section th:replace="fragments/compartirPorRedesSociales :: compartirPorRedesSociales"></section>
	<!---------------------------------------------------------------------->
	<section th:replace="fragments/footer :: footer"></section>
	<!---------------------------------------------------------------------->
</body>
</html>