<!DOCTYPE html>	
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/promociones.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  	<link rel="stylesheet" href="css/estilo.css">
    <title th:text="${titulo}"></title>
</head>

<body>
	<!---------------------------------------------------------------------->
	<section th:replace="fragments/header :: header"></section>
	<!---------------------------------------------------------------------->
	<section>
		<div class="container pt-5 pb-5 Promociones">
			<div class="relativo">
				<img src="images/descuentos.png" class="img-fluid"></img>
				<div class="absoluto">
					<input placeholder="Código de la promoción"></input>
					<button class="bg_success">Ok</button>
				</div>
			</div>
		</div>
	</section>
	<hr />
	<section>
		<div class="text-center">
			<h1 class="subtitulos">Mira nuestras principales promociones</h1>
		</div>
	</section>
	<section>
		<div class="container py-5">
			<div class="row">
				<div class="col-md">
					<div class="card">
  					<img class="card-img-top" src="images/cisneros2.png" alt="Card image">
  					<a type="button" class="stretched-link" data-toggle="modal" data-target="#myModal"></a>
					</div>
				</div>
				<div class="col-md">
					<div class="card">
  					<img class="card-img-top" src="images/cisneros3.png" alt="Card image">
  					<a type="button" class="stretched-link" data-toggle="modal" data-target="#myModal2"></a>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal_grande">
                    <div class="modal-content">
                        
                        <div class="modal-body">
                        	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <img class="img-fluid" src="images/cisneros2.png" alt="Card image">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="myModal2" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal_grande">
                    <div class="modal-content">
                        
                        <div class="modal-body">
                        	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <img class="img-fluid" src="images/cisneros3.png" alt="Card image">
                        </div>
                    </div>
                </div>
            </div>
	</section>
	<!---------------------------------------------------------------------->
	<section th:replace="fragments/footer :: footer"></section>
	<!---------------------------------------------------------------------->
</body>
</html>