.Cabeza {
	background-color: #005256;
    color: #dedede;
}

.logo a:link {
    text-decoration: none;
    color: #dedede;
}

.logo h1 {
    font-family: 'Alex Brush';
    font-size: 60px;
    margin-top: 10px;
    margin-bottom: 0px;
    line-height: 0.8;
}

.logo p {
    font-size: 12px;
    opacity: 0.5;
    margin-bottom: 6px;
}

.sitenav {
    display: flex;
    align-items: center;
    margin-left: 32px;
}

.sitenav a:link {
    text-decoration: none;
    color: #dedede;
}

.sitenav a:link:hover {
    opacity: 0.5;
}

.sesion {
    flex-grow: 1;
    display: flex;
    justify-content: end;
    align-items: center;
}

.sesion .sitebtn {
    color: #dedede;
    border: 1px solid #dedede;
}

.sesion .sitebtn:hover, .sesion .sitebtn:active {
    background-color: #dedede;
    color: #005256;
}

.sesion .boton, .sesion .boton:hover {
    color: #dedede;
}

.sesion .desplegable a {
    color: #005256;
}

.sesion .desplegable a:active {
    background-color: #005256;
    color: #dedede;
}

@media screen and (max-width:980px) {

    .sitenav nav {
        display: none;
    }

    .sesion .sitebtn {
        display: none;
    }

    .logo h1 {
        font-size: 40px;
    }

}

@media screen and (min-width: 981px) {

    .sesion .desplegador {
        display: none;
    }

}